# Ignore datasets
*/dataset/
*/datasets/

# Ignore models (folders + files)
# Ignore entire models folder
Models/

# Ignore model files anywhere
*.keras
*.tflite
*.h5
# Ignore TFLite temp (optional)
*.tflite.tmp

# Ignore environment
venv/
__pycache__/

# Ignore notebooks checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db