# Ignore datasets
*/dataset/
*/datasets/

# Ignore models
Models/
*/model/

# Ignore environment
venv/
__pycache__/

# Ignore notebooks checkpoints
.ipynb_checkpoints/

# Ignore large files
*.h5
*.keras